h5{
     
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:black;
    font-size: medium;
}
.SON{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.song{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:black;
    font-size: medium;
}
.but{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.speech{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:black;
    font-size: medium;
}
.cap{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.direction{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.sir{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.jos{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.all{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.dic{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}
.cre{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color:lightgrey;
    font-size: medium;
    background-color:darkmagenta;
}

